<div class="modal-overlay" id="loginModal" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">

  <div class="modal-content">
    <button class="modal-close" onclick="closeLoginModal()" aria-label="Close">&times;</button>

    <h2 id="loginModalTitle">Login</h2>

    <form method="post" action="/auth/token/login/" id="loginForm">
      {% csrf_token %}

      <!-- Exibir erros não relacionados a campos específicos -->
      {% if form.non_field_errors %}
      <div class="error-message">
        {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username" required {% if form.username.value%}
          value="{{ form.username.value }}" {% endif %}>
        {% if form.username.errors %}
        <div class="error-message">{{ form.username.errors.as_text }}</div>
        {% endif %}
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" required>
        {% if form.password.errors %}
        <div class="error-message">{{ form.password.errors.as_text }}</div>
        {% endif %}
      </div>

      <button type="submit" class="btn-primary">Login</button>
    </form>

    <div class="auth-links">
      Don't have an account? <a href="#" onclick="closeLoginModal(); showSignupModal()">Sign Up</a>
    </div>
  </div>
</div>